## Build outputs
bin/
obj/
.vs/
_ReSharper*/
*.user
*.suo
*.userprefs

## dotnet tools & caches
*.dbmdl
*.log
*.env
*.tmp
*.fakes
*.vsix

## Rider / JetBrains
.idea/

## AspNetCore
wwwroot/lib/
publish/

## temporary files
*.swp
*~

## Juxtaposed artifacts
.DS_Store
Thumbs.db

## Aspire outputs
.mcp
.mcpproj.user

plan/
